<div class="card">
  <div *ngIf="team" class="card-body">
    <div class="row">
      <h3>{{team.name}}</h3>
    </div>
    <div class="row">
      <p>Країна</p>
      <p class="ml-3">{{team.country}}</p>
    </div>
    <div class="row">
      <p>Опис</p>
      <p class="ml-3">{{team.about || 'Опис не вказано'}}</p>
    </div>
    <div class="row">
      <p>Рейтинг</p>
      <p class="ml-3">{{team.rating | number:'1.1-1'}}</p>
    </div>
    <div class="row">
      <p>Карти, на яких показано найвищі результати</p>
      <p *ngFor="let map of team.bestMaps" class="ml-3">{{map.mapName}}</p>
    </div>
    <app-players [players]="team.players" [tableName]="playersTableName"></app-players>
    <app-players *ngIf="recommendedPlayers" 
                  [players]="recommendedPlayers" 
                  [tableName]="recommendedPlayersTableName">
    </app-players>
  </div>
  <button class="btn btn-primary" (click)="goBack()">
    <i class="fas fa-arrow-circle-left mr-1"></i>Назад
  </button>
</div>