<div class="card mb-3">
    <div class="card-body">
      <p>Статистика по картам</p>
      <div *ngIf="!mapsStat">
          <h3 class="empty-stat-message">Дані про статистику відсутні</h3>
        </div>
      <table *ngIf="mapsStat" class="table table-hover">
        <thead class="thead-light">
          <th>Назва карти</th>
          <th>Зіграно раундів</th>
          <th>Перемог</th>
        </thead>
        <tbody>
          <tr *ngFor="let mapStat of mapsStat">
            <td>{{mapStat.mapName || 'Не вказано'}}</td>
            <td>{{mapStat.totalRounds || 'Не вказано'}}</td>
            <td>{{mapStat.totalWins || 'Не вказано'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>